@import 'variables';

html {
	font-size: 62.5%;
}

body {
	font-family: $font-content;
	font-size: 1.8rem;
}

.error, .valid {
	width: 100%;
	padding: 10px 6px;
	border-radius: 2px;
	box-shadow: -3px 2px 0 rgba(122, 122, 122, .4);
	font-family: $font-content;
	font-size: 1.2rem;
	color: $color-light;
	display: block;
    margin-top: 6px;
}

.error {
	background-color: rgb(192, 67, 87);
	border: 1px solid rgba(192, 67, 87, .4);
}

.valid {
	background-color: rgb(82, 192, 67);
	border: 1px solid rgba(82, 192, 67, .4);
}
