@font-face {
    font-family: 'Bernier Regular';
    src: url('../assets/bernier/bernier_regular-webfont.eot');
    src: url('../assets/bernier/bernier_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/bernier/bernier_regular-webfont.woff2') format('woff2'),
         url('../assets/bernier/bernier_regular-webfont.woff') format('woff'),
         url('../assets/bernier/bernier_regular-webfont.ttf') format('truetype'),
         url('../assets/bernier/bernier_regular-webfont.svg#bernier_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
